
src/NetWorks/bin/Debug/net10.0-windows7.0/

src/NetWorks/obj/Debug/net10.0-windows7.0/

src/Core/bin/Debug/net10.0/

src/Tests/obj/Debug/net10.0/

src/Tests/bin/Debug/net10.0/

src/Core/obj/Debug/net10.0/

src/.vs/NetWorks.slnx/FileContentIndex/

src/.vs/ModelEditor.slnx/v18/

src/.vs/NetWorks.slnx/copilot-chat/b39ca0fb/sessions/

src/.vs/NetWorks.slnx/DesignTimeBuild/

*.db

*.bin

*.db-shm

src/.vs/ModelEditor.slnx/copilot-chat/b39ca0fb/sessions/

*.vsidx

*.db-wal

src/.vs/ModelEditor.slnx/v17/

src/Core/obj/

src/NetWorks/obj/

src/Tests/obj/

src/.vs/ModelEditor.slnx/DesignTimeBuild/.dtbcache.v2

src/.vs/CopilotSnapshots/F12419B8E3B3B64A9D6D880CCC0EFE48/BFF0A15718C37E4B885A77DFB7C25A07/

*.mpack
