
src/NetWorks/bin/Debug/net10.0-windows7.0/

src/NetWorks/obj/Debug/net10.0-windows7.0/

src/Core/bin/Debug/net10.0/

src/Tests/obj/Debug/net10.0/

src/Tests/bin/Debug/net10.0/

src/Core/obj/Debug/net10.0/

src/.vs/NetWorks.slnx/FileContentIndex/

src/.vs/ModelEditor.slnx/v18/

src/.vs/NetWorks.slnx/copilot-chat/b39ca0fb/sessions/

src/.vs/NetWorks.slnx/DesignTimeBuild/

*.db

*.bin
